h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:inline;
    margin-left:50px;
    margin-right:10px;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body > *{
    align-content: center;
}

ul{
    list-style-type:none;
}

body{
    background-color: rgb(187, 232, 242)
}

li{
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 50px;
    padding-top:50px;
    border-bottom:gainsboro 2px solid;
    width:500px;
}

#add_movie{
    font-size:xx-large;
    border-radius:60px;
}
