h1{
    text-align:center;
}

#body_container{
    position:absolute;
    top: calc(35% - 253px/2);
    left:calc(50% - 314px/2);
    padding:30px 60px;
    border-radius: 20px;

    background-color:white;
    background-color:rgba(235, 249, 242,0.5);
}

label{
    line-height:2;
    font-size:20px;
}

input[type="text"], input[type="password"], input[type="email"] {
    height:7px;
    padding:10px 5px;
    line-height:28px;
    margin:auto;
    float:right;
}

body{
    background-image:url(art-blurred-blurry-bokeh-383646.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

}